<!DOCTYPE html>
<html>

<head>
    <link href="bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
     
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
        <div class="container">
                <table class="table">
                <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <% for(var i=0; i<contacts.length; i++){%>
                
                        <td><%= i+1 %></td>
                
                    <td><%= contacts[i].firstname%></td>
                <td><%= contacts[i].lastname%></td>
                <td><%= contacts[i].email%></td>
                <td><%= contacts[i].subject%></td>
                <td><%= contacts[i].message%></td>



                </tr>
                <% } %>
                </tbody>
                </table>
                </div>
                
                <br>
                <br>

    <div class="container">
        <form method="post", action="/inputs" class="well span8" >
            <div class="row">
                <div class="span3">
                    <label>First Name</label>
                    <input class="span3" placeholder="Your First Name" type="text" name="firstname">
                    <label>Last Name</label>
                    <input class="span3" placeholder="Your Last Name" name="lastname" type="text">
                    <label>Email Address</label>
                    <input class="span3" placeholder="Your email address" type="email" name="email">
                    <label>Subject</label>
                    <select class="span3" id="subject" name="subject">
                        <option selected value="na">
                            Choose One:
                        </option>

                        <option value="service">
                            General Customer Service
                        </option>

                        <option value="suggestions">
                            Suggestions
                        </option>

                        <option value="product">
                            Product Support
                        </option>
                    </select>
                </div>

                <div class="span5">
                    <label>Message</label>
                    <textarea class="input-xlarge span5" id="message" name="message" rows="10">
                    </textarea>
                </div>
                <button class="btn btn-primary pull-right" type="submit">Send</button>
            </div>
        </form>
    </div>
</body>

</html>